.para{
    position: fixed;
}
.bg {
    position: sticky;
    top: 13vh;
    background-image: url(../images_the_district/bg.jpg);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: 200vh;
    background-position-y: -40px;
    width: 100%;
}
a{
    text-decoration: none;
}
#results {
    overflow-x: scroll;
    height: 40vh;
}
.title{
    font-size: xx-large;
    color: aqua;
}
p{
    color: white;
}
#search{
    height: 60px;
}
img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.form-control {
    background: none;
    display: flex;
    justify-content: center;
    border: none;
    height: 150px;
}

.d-flex {
    background-color: white;
    width: 50vh;
    border-radius: 1vh;
}

#form {
    padding-top: 60px;
}

#bg-body{
    background-image: url(/images_the_district/1fecea3a.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
canvas{
    width: 100%;
}
h2{
    position: absolute;
    top: 60vh;
    left: 70vh;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:15vh;
}