.body{
    background-color: black;
    height: 100vh;
    width: 194vh;
    padding-top: 50px;
    padding-left: 50px;
}
.card{
    background-color: black;
    height: 100%;
}
img{
    height: 35vh;
    width: 100%;
    object-fit: cover;
}
.title{
    display: flex;
    justify-content: center;
    position: relative;
    top: -20vh;
    color: white;
    background-color: rgba(128, 128, 128, 0.432);
}
a{
    text-decoration: none;
}