.titre {
    position: absolute;
    color: black;
    background: none;
    left: 5vh;
    top: 25pt;
}

.text , h4 {
    color: black;
    background: none;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
footer{
    background-color: grey;
    height: 10.5vh;
}