.corps{
    background-color: black;
    height: 120vh;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
}

.name {
    background: linear-gradient(grey, rgba(255, 255, 255, 0.425));
    width: 45vh;
    border-radius: 5vh;
    margin-top: 3vh;
    margin-left: 39%;
    margin-bottom: 2vh;
}
.title{
    text-align: center;
}
img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}



.commander{
    display: none;
    position: relative;
    top: -300px;
    color: white;
    background-color: rgba(128, 128, 128, 0.658);
    border: none;
}


.banner-image:hover{
    position: relative;
    height: 300px;
}
.banner-image:hover .commander{
    display: block;
    width: 100%;
    position: relative;
    scale: 0.9;
    font-size: 50px;
    height: 300px;
}
.banner-image:hover img{
    scale: 0.9;
    filter:grayscale(50%);
}


.row{
    width: 190vh;
}
.card-title{
    color: aqua;
}
.card-text{
    color: white;
}

.next {
    position: absolute;
    bottom: -33%;
    padding-left: 150vh;
    width: 20vh;
}

.button {
    background-color: grey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    padding: 1vh;
    border-radius: 50vh;
    width: 20vh;
}
.button_mobile{
    display: none;
}
footer{
    position: relative;
}